* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#minutes, #seconds, #hours {
  transform-origin: center;
  transition: transform 1s ease-in;
}

body {
  height: 100vh;
  background: #1ac9ec;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: sans-serif;
}

.clock {
  flex: 1;
  background: #ec391a;
  max-width: 500px;
  height: 80vh;
  margin: 0 auto;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-radius: 1rem;
}

.time {
  font-size: 2.5rem;
  color: #fff;
}

@media (max-width: 600px) {
  .clock {
    margin: 0 1rem;
  }
}

.loading {
  height: 100vh;
  width: 100vw;
  position: absolute;
  inset: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  color: #fff;
  font-family: sans-serif;
  background: #1ac9ec;
  animation: loader 5s ease-in-out forwards;
}

@keyframes loader {
  0% {
    opacity: 1;
    display: flex;
  }
  100% {
    opacity: 0;
    display: none;
  }
}